<template>
  <div>
    <br />
    <table border="0" style="display:inline-block">
      <tr>
        <td width="100%">
          <span class="DataItemLabel">Folder name:&nbsp;</span>
          <span class="occasionFolderName">
            {{ occasionStatic.folderName }}
          </span>
        </td>
        <td class="occasionRecordingCounter">
          # of recordings: {{ recordingCount(occasionStatic) }}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <RecordingListOverview
            :recordingStaticList="occasionStatic.recordingList"
            :studioRecording="occasionStatic.studioRecording"
          />
        </td>
      </tr>
    </table>

    <br />
  </div>
</template>

<script>
import RecordingListOverview from "./RecordingListOverview.vue";

import { mapGetters } from "vuex";

export default {
  components: {
    RecordingListOverview
  },
  props: {
    occasionStatic: Object
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {},
  computed: {
    notUsed() {
      return null;
    },
    ...mapGetters(["recordingCount"])
  }
};
</script>

<style scoped></style>
