<template>
  <div class="form-group">
    <label for="PianistName">{{labelName}}:</label>
    <!-- NOTE: v-modek databinding directly to modelEntity does not work. Intead event signaling when change occurs seems to be the only way. -->
    <cool-select
      v-model="boundToModel"
      :items="itemList"
      item-text="name"
      placeholder="Add here..."
      :input-styles="borderStyle"
    />
  </div>
</template>

<script>
import { CoolSelect } from "vue-cool-select";

export default {
  components: {
    CoolSelect
  },
  props: {
    labelName: String,
    dirtyEntity: Object,
    itemList: Array,
    borderStyle: Object
  },
  data: function() {
    return {
      boundToModel: { id: 0, name: "" }
    };
  },
  watch: {
    boundToModel(val) {
      this.dirtyEntity.id = val.id;
      this.dirtyEntity.name = val.name;
    }
  },
  mounted() {
    this.boundToModel = this.dirtyEntity;
  }
};
</script>