<template>
  <ul>
    <table border="1" width="100%">
      <tr>
        <td align="left" v-for="genre in genreList" :key="genre">
          {{ genre }}
        </td>
      </tr>
      <tr v-for="index in maxRowsArray" :key="index">
        <td
          align="left"
          v-for="song in songListByRowIx(index)"
          :key="song ? song.id : uniqueConter"
        >
          {{ song ? song.name : "" }}
        </td>
      </tr>
    </table>
  </ul>
</template>

<script>
//import SongsService from "@/services/songsService.js";

import { mapGetters } from "vuex";

export default {
  data() {
    return { counter: 0 };
  },
  getUniqueCounter() {
    this.counter--;
    return this.counter;
  },

  created() {
    this.$store.dispatch("fetchSongList");
  },
  computed: {
    uniqueConter() {
      return this.getUniqueCounter; //NOTE: feels like quite a hack to get this unique counter...
    },
    ...mapGetters(["genreList", "maxRowsArray", "songListByRowIx"])
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
