<template>
  <table>
    <tr v-for="(dirtyRecording, index) in dirtyRecordingList" :key="index">
      <td colspan="2" valign="top">
        <span class="DataItemLabel">Recording {{ index + 1 }}:</span>
        <div class="RecordingDiv">
          <table width="100%">
            <tr>
              <td width="100%" nowrap>
                <span class="RecordingFileName">{{ dirtyRecording.fileName }}</span>&nbsp;&nbsp;&nbsp;&nbsp; (
                <label for="TimeDuration" class="col-form-label">duration:&nbsp;</label>
                <span id="TimeDuration">{{ dirtyRecording.timeDuration }}</span>)
              </td>
              <td class="DataItemLabel">#{{ index + 1 }}</td>
            </tr>
            <tr>
              <td colspan="2">
                <RecordingDetails
                  :dirtyRecording="dirtyRecording"
                  :occasionId="dirtyOccasion.id"
                  :isStudioRecording="isStudioRecording"
                  :counter="index + 1"
                />
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</template>

<script>
import RecordingDetails from "../RecordingDetails/_RecordingDetails.vue";
import { mapGetters } from "vuex";
import props from "./props_RecordingListDetails";
import methods from "./methods_RecordingListDetails";
import computed from "./computed_RecordingListDetails";

export default {
  components: {
    RecordingDetails
  },
  props,
  methods,
  computed
};
</script>

<style scoped>
.RecordingDiv {
  border-style: solid;
  border-width: 1px;
  background-color: #cce6ff;
}
.RecordingFileName {
  color: black;
  font-weight: bold;
}
</style>
