<template>
  <div>
    <form @submit.prevent="onSubmit">
    <ImportSteps />
    </form>
  </div>
</template>

<script>
import ImportSteps from "@/components/Import/ImportSteps.vue";
import ImportService from "@/services/ImportService";
import ImportPayLoadFactory from "./ImportPayLoadFactory"

export default {
  name: "import",
  components: {
    ImportSteps
  },

  created() {
    this.$store.dispatch("fetchImportInformation");
  },
  methods: {
    onSubmit(){   
      let factory = new ImportPayLoadFactory()
      let payLoad = factory.createPayLoad(this.$store.state.import.occasionListForm)   
      ImportService.postImportDetailedInformation(payLoad, this.$store)
    }
  }
};
</script>

<style scoped>

#DataItemLabel {
  text-align: left;
  color: gray;
  white-space: nowrap;
  width: 1%;
}

#DataItem {
  border-bottom: 1px solid gray;
  text-align: left;
}

#OccasionName {
  display: inline;
}

</style>
