<template>
  <div>
    <template v-if="studioRecording">
      <table>
        <tr>
          <td colspan="2">
            <span class="DataItemLabel"
              >Studio recording file name counters:&nbsp;</span
            >
          </td>
        </tr>
        <tr>
          <td colspan="2">{{ studioRecording.ids }}</td>
        </tr>
      </table>
    </template>
    <template v-else>
      <table>
        <template v-for="(recordingStatic, index) in recordingStaticList">
          <tr :key="index">
            <td colspan="2" valign="top">
              <span class="DataItemLabel">Recording {{ index + 1 }}:</span>

              <div class="RecordingDiv">
                <table width="100%">
                  <tr>
                    <td width="100%">
                      <span class="RecordingFileName">{{
                        recordingStatic.fileName
                      }}</span>
                    </td>
                    <td class="DataItemLabel">#{{ index + 1 }}</td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </template>
      </table>
    </template>
  </div>
</template>

<script>
import props from "./props_RecordingListOverview"
export default {
  props
};
</script>

<style scoped>
table {
  width: 100%;
}
.RecordingDiv {
  border-style: solid;
  border-width: 1px;
  background-color: #cce6ff;
}
.RecordingFileName {
  color: black;
  font-weight: bold;
}
</style>
