<template>
  <div>
    <p v-if="page === $ImportDone ">Import was sucessful!</p>
    <p v-if="page === $ImportOverViewPage">
      <template v-if="nbrOfOccasions === 0">
        There are no new occasions that can be imported.
        <br>
        <i>TODO: give an overview of the already imported occasions.</i>
      </template>
      <template v-else>
        Below is the file system content
        consisting of (recording) Occasions folders with Recording mp3 files.
        <br>There are
        <b>{{ nbrOfOccasions }} Occasions</b> with a total of
        <b>{{ totalNbrOfRecordings }} Recordings</b> that can be imported.
        <br>
        <template v-if="$store.state.import.detailsLoaded">
          <br>In the
          <a href="#" @click="showStep2Configurations()">next step</a>, you will
          need to add addition information to each song, but suggestions will be
          given to you based on the parsing of the folder and file names.
        </template>
      </template>
    </p>
    <p v-else-if="page === $ImportDetailsPage">
      The occasion folder name as well as the mp3 file names have been used in
      order to pass and guess configuration values. You may adjust these config
      values below.
      <br>When you are done, please start the import:
      <input type="submit" value="Start import" class="btn btn-primary">
    </p>
  </div>
</template>

<script>
export default {
  props: {
    page: Number,
    nbrOfOccasions: Number,
    totalNbrOfRecordings: Number
  },
  methods: {
    showStep2Configurations: function() {
      this.$store.dispatch("setImportStep2WithSuggestions");
    }
  }
};
</script>

<style scoped>
p {
  color: white;
  margin: 10px;
}
</style>
