<template>
  <div class="about">
    <h1>This is an about page</h1>

    <datepicker placeholder="Select Date"></datepicker>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";

export default {
  components: {
    Datepicker
  }
};
</script>
