<template>
  <div class="home">
    <SongList />
  </div>
</template>

<script>
// @ is an alias to /src
import SongList from "@/components/Main/SongList.vue";

export default {
  name: "home",
  components: {
    SongList
  }
};
</script>
