<template>
  <span>
    <div v-if="nbrOfRecordings == 0">
      This occasion will not be imported since no recordings exists in the
      folder
    </div>
    <div v-else>
        <div class="form-group">
          <label for="songName">Song:</label>
          <template v-if="isStudioRecording">
              <cool-select
                v-model="dirtyOccasion.song"
                :items="songList"
                item-text="name"
                placeholder="(Empty. Song name could not be deduced from folder name. Please select one here.)"
                :input-styles="getBorderStyleCleanCompareById(dirtyOccasion.song, cleanOccasion.song)"
              />
          </template>
          <template v-else>
            <div id="songName"><i>Should be set per recording instead.</i></div>
          </template>
      </div>

      <div class="form-group">
        <label for="Date">Date:</label>
        <div style="width:200px">
          <datepicker
            placeholder="Select Date"
            v-model="dirtyOccasion.date"
            :value="dirtyOccasion.date"
            id="Date"
            :style="getBorderStyleCleanCompare(dirtyOccasion.date, cleanOccasion.date)"            
          ></datepicker>
        </div>
      </div>

      <div class="form-group">
        <label for="OccasionName">Occasion name:</label>
        <input
          v-model="dirtyOccasion.name"
          id="OccasionName"
          class="form-control"
          type="text"
         :style="getBorderStyleCleanCompare(dirtyOccasion.name, cleanOccasion.name)"            
        ></input>
      </div>

      <div class="form-group">
        <label for="Location">Location:</label>
        <input class="form-control" 
          v-model="dirtyOccasion.location"
          id="Location" 
          type="text" 
          :style="getBorderStyle(dirtyOccasion.location)"/>
      </div>

      <div class="form-group">
        <label for="types">Type:</label>
        <div id="types">
          <div
            class="form-check form-check-inline"
            :key="occasionTypeObject.id"
            v-for="occasionTypeObject in occasionTypeListWithSelected_NEW"
          >
            <label class="form-check-label" v-bind:for="occasionTypeObject.id">
              <input
                type="radio"
                class="form-check-input"
                :name="getOccasionRadioButtonName"
                v-on:change="onChangeOccasionType(occasionTypeObject.id)"
                :checked="isCurrentOccasionTypeChecked(occasionTypeObject.id)"
              />               
              <span :style="getOccasionTypeCleanCompare(occasionTypeObject.id)">{{ occasionTypeObject.name }}</span> &nbsp;&nbsp;&nbsp;
              </label>
          </div>
        </div>
      </div>

      <!-- Equivalent version for CHECKBOX instead. 
        <div class="form-group">
        <label for="types">Type:</label>
        <div id="types">
          <div
            class="form-check form-check-inline"
            :key="occasionType.id"
            v-for="occasionType in occasionTypeListWithSelected(dirtyOccasion.occasionTypeId)"
          >
            <input
              type="checkbox"
              class="form-check-input"
              :id="getCheckboxId(occasionType.id)"
              :value="occasionType.id"
              v-model="occasionType.selected"
            />
            <label
              class="form-check-label"
              :for="getCheckboxId(occasionType.id)"              
              /><span :style="getOccasionTypeCleanCompare(occasionType.id)">{{ occasionType.name }}</span> &nbsp;&nbsp;&nbsp;</label>
          </div>
        </div>
      </div> -->

      <DropDownInputWithLabel 
        labelName="Pianist" 
        :dirtyEntity="dirtyOccasion.pianist" 
        :itemList="pianistList"
        :borderStyle="getBorderStyleCleanCompareById(dirtyOccasion.pianist, cleanOccasion.pianist)" /> 

       <DropDownInputWithLabel 
        labelName="Coach" 
        :dirtyEntity="dirtyOccasion.coach" 
        :itemList="coachList"
        :borderStyle="getBorderStyleCleanCompareById(dirtyOccasion.coach, cleanOccasion.coach)" /> 

<!--    
      <div class="form-group">
        <label for="PianistName">Pianist:</label>
        <cool-select
          v-model="dirtyOccasion.pianist"
          :items="pianistList"
          item-text="name"
          placeholder="(Empty. Pianist could not be deduced from folder name.)"
          :input-styles="getBorderStyleCleanCompareById(dirtyOccasion.pianist, cleanOccasion.pianist)"
        />
      </div>

      <div class="form-group">
        <label for="CoachName">Coach:</label>
        <cool-select
          v-model="dirtyOccasion.coach"
          :items="coachList"
          item-text="name"          
          placeholder="(Empty. Coach could not be deduced from folder name.)"
          :input-styles="getBorderStyleCleanCompareById(dirtyOccasion.coach, cleanOccasion.coach)"
        />
      </div>  -->

      <div class="form-group">
        <template v-if="showCommentTextarea">
          <label for="Comments" >
            <a href="#" 
              @click.prevent="toggleComment"
              :style="getCommentCleanCompare()">Comment:</a>
          </label>
          <textarea
            v-model="dirtyOccasion.comment"
            placeholder="Add comments here..."
            class="form-control OccasionTextbox"
            :style="getBorderStyle(dirtyOccasion.comment)"
            ></textarea>
        </template>
        <template v-else>
          <a href="#" @click.prevent="toggleComment" :style="getCommentCleanCompare()">Show comment...</a>
          <br />
        </template>
      </div>
    </div>
  </span>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import { CoolSelect } from "vue-cool-select";
import methods from "./methods_OccasionDetails"
import computed from "./computed_OccasionDetails"
import DropDownInputWithLabel from "../../_subControls/DropDownInputWithLabel"
//import { mapGetters } from "vuex";

export default {
  components: {
    Datepicker,
    CoolSelect,
    DropDownInputWithLabel
  },
  props: {
    occasionStatic: {
        type: Object,
        required: true
    },
    dirtyOccasion: Object,
    cleanOccasion: Object,
    songList: Array,
    personList: Array,
    page: Number 
  },
  data() {
    return {
      comment: String,
      showCommentTextarea: false
    //   selectedPianist: null,
    //   selectedCoach: null,
    };
  },
  mounted() {
    if (!this.dirtyOccasion) return;
  },  
  methods, 
  computed
};
</script>

<style scoped>
table {
  width: 100%;
}

input,
select {
  padding: 0.2em 0.5em;
  font-size: 100%;
  border: 1px solid #ccc;
}

.nowrap {
  white-space: nowrap;
}

.modifiedClass{
  border: '1px solid red'

}
/* .normalClass{
 border: '1px solid black'
} */
.suggestionClass {
  border: '1px solid blue';
}
.OccasionTextBox{
  width:100%;
  height:200px
}
/* .label {
  vertical-align: top;
  white-space: nowrap;
  color: gray;
} */
</style>
