<template>
  <div>
    <HeaderInfo
      :page="page"
      :nbrOfOccasions="occasionStaticList.length"
      :totalNbrOfRecordings="totalNbrOfRecordingsAvailableForImport"
    />

    <div v-for="(occasionStatic, index) in occasionStaticList" :key="index">
      <div class="OccasionTitleDiv">Recording Occasion {{ index + 1 }}:</div>
      <div class="OccasionContentDiv" style="display:inline-block">
        <table border="0" style="display:inline-block">
          <tr>
            <td width="100%">
              <span class="DataItemLabel">Folder name:&nbsp;</span>
              <span class="occasionFolderName">{{ occasionStatic.folderName }}</span>
            </td>
            <td
              class="occasionRecordingCounter"
            ># of recordings: {{ recordingCount(occasionStatic) }}</td>
          </tr>
          <tr>
            <td colspan="2">
              <template v-if="page === $ImportOverViewPage">
                <RecordingListOverview
                  :recordingStaticList="occasionStatic.recordingList"
                  :studioRecording="occasionStatic.studioRecording"
                />
              </template>
              <template v-else-if="page === $ImportDetailsPage">
                <OccasionDetails
                  :occasionStatic="occasionStatic"
                  :dirtyOccasion="getDirtyOccasion(occasionStatic)"
                  :cleanOccasion="getCleanOccasion(occasionStatic)"
                  :songList="songList"
                  :personList="personList"
                  :page="page"
                />
                <RecordingListDetails
                  :isStudioRecording="isStudioRecording(occasionStatic)"
                  :dirtyOccasion="getDirtyOccasion(occasionStatic)"
                />
              </template>
            </td>
          </tr>
        </table>
        <br>
      </div>
    </div>
  </div>
</template>

<script>
import HeaderInfo from "./SubComponents/HeaderInfo.vue";
import RecordingListOverview from "./SubComponents/RecordingListOverview/_RecordingListOverview.vue";
import OccasionDetails from "./SubComponents/OccasionDetails/_OccasionDetails.vue";
import RecordingListDetails from "./SubComponents/RecordingListDetails/_RecordingListDetails.vue";

import { mapGetters } from "vuex";

export default {
  components: {
    HeaderInfo,
    RecordingListOverview,
    OccasionDetails,
    RecordingListDetails
  },
  computed: {
    isDetailedPage() {
      return this.page === this.$ImportDetailsPage;
    },
    occasionStaticList() {
      return this.$store.state.import.occasionStaticList;
    },
    page() {
      return this.$store.state.import.step;
    },

    songList() {
      return this.$store.state.main.songList;
    },
    personList() {
      return this.$store.state.main.personList;
    },
    totalNbrOfRecordingsAvailableForImport() {
      if (!this.occasionStaticList) return;
      let totalCount = 0;
      for (let i = 0; i < this.occasionStaticList.length; i++) {
        const occasion = this.occasionStaticList[i];
        if (occasion.recordingList) {
          totalCount += occasion.recordingList.length;
        } else {
          totalCount += occasion.studioRecording.recordingCount;
        }
      }
      return totalCount;
    },
    ...mapGetters(["recordingCount"])
  },
  methods: {
    isStudioRecording(staticOccasion) {
      return staticOccasion.studioRecording !== null;
    },
    getDirtyOccasion(occasionStatic) {
      const occasionList = this.$store.state.import.occasionListForm.dirty; //TODO: better set it as data instead since it is called twice.
      const occasion = occasionList.find(o => o.id === occasionStatic.id);
      return occasion;
    },
    getCleanOccasion(occasionStatic) {
      const occasionList = this.$store.state.import.occasionListForm.clean; //TODO: better set it as data instead since it is called twice.
      const occasion = occasionList.find(o => o.id === occasionStatic.id);
      return occasion;
    },
    getDirtyRecording(occasionId, recordingId) {
      const dirtyOccasion = this.getDirtyOccasion(occasionId);
      const dirtyRecording = dirtyOccasion.recordingList.find(
        r => r.id === recordingId
      );
      return dirtyRecording;
    }
    // recordingCount(occasion) {
    //   return occasion.studioRecording
    //     ? occasion.studioRecording.count
    //     : occasion.recordingList === null
    //     ? 0
    //     : occasion.recordingList.length;
    // }
  }
};
</script>

<style scoped>
table {
  width: 100%;
}
.DataItemLabel {
  vertical-align: top;
  text-align: left;
  color: gray;
  white-space: nowrap;
  width: 1%;
}
p {
  color: white;
  margin: 10px;
}
.OccasionTitleDiv {
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

.OccasionContentDiv {
  border-style: solid;
  border-width: 1px;
  background-color: #e6f2ff;
  padding: 1em 1em;
  margin-left: 10px;
  margin-right: 10px;
}
.DataItemOccasion {
  border-bottom: 2px solid gray;
  text-align: left;
}

.DataItem {
  border-bottom: 1px solid gray;
  text-align: left;
}

#OccasionName {
  display: inline;
}
.occasionFolderName {
  vertical-align: top;
  color: black;
  font-weight: bold;
}
.occasionRecordingCounter {
  text-align: right;
  white-space: nowrap;
  color: gray;
}
</style>

<!-- <div v-for="(occasionStatic, index) in occasionStaticList" :key="index">
      <br />
      <div class="OccasionTitleDiv">Recording Occasion {{ index + 1 }}:</div>

      <div class="OccasionContentDiv" style="display:inline-block">
        <table border="0" style="display:inline-block">
          <tr>
            <td width="100%">
              <span class="DataItemLabel">Folder name:&nbsp;</span>
              <span class="occasionFolderName">
                {{ occasionStatic.folderName }}
              </span>
            </td>
            <td class="occasionRecordingCounter">
              # of recordings: {{ recordingCount(occasionStatic) }}
            </td>
          </tr>
          <tr v-if="page === $ImportDetailsPage">
            <td colspan="2">
              <Occasion
                :occasionStatic="occasionStatic"
                :dirtyOccasion="getDirtyOccasion(occasionStatic.id)"
                :songList="songList"
                :personList="personList"
                :page="page"
              />
            </td>
          </tr>
          <template
            v-if="
              page === $ImportOverViewPage && occasionStatic.studioRecording
            "
          >
            <tr>
              <td colspan="2">
                <span class="DataItemLabel"
                  >Studio recording file name counters:&nbsp;</span
                >
              </td>
            </tr>
            <tr>
              <td colspan="2">{{ occasionStatic.studioRecording.ids }}</td>
            </tr>
          </template>
          <template v-else>
            <template
              v-for="(dirtyRecording, index) in occasionStatic.dirtyOccasion
                .recordingList"
            >
              <tr :key="index">
                <td colspan="2" valign="top">
                  <span class="DataItemLabel">Recording {{ index + 1 }}:</span>
                  <div class="RecordingDiv">
                    <table width="100%">
                      <tr>
                        <td width="100%">
                          <span class="RecordingFileName">
                            {{ dirtyRecording.fileName }}
                          </span>
                          <Recording
                            v-if="isDetailedPage"
                            :dirtyRecording="dirtyRecording"
                            :counter="index + 1"
                            :isStudioRecording="
                              occasionStatic.studioRecording !== null
                            "
                            :songList="songList"
                            :page="page"
                          />
                        </td>
                        <td class="DataItemLabel">#{{ index + 1 }}</td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </template>
          </template>
        </table>
      </div>
      <br />
    </div>-->
