<template>
  <div>
    <template v-if="isStudioRecording">
      <div class="container-fluid">
        <div class="row no-gutters">
          <!-- <div class="col-2">-->
          <div class="col-2 form-inline">
            <label for="StartBar" class="col-form-label"
              >Start Bar:&nbsp;&nbsp;</label
            >
            <input
              id="StartBar"
              type="text"
              class="form-control"
              style="width: 60px; height:30px;"
              v-model="dirtyRecording.startBar"
              @keypress="onlyNumber"
              :style="getBorderStyleCleanCompare(dirtyRecording.startBar, cleanRecording.startBar)"            

            />
            <!-- float:right; position:relative; top:4px; left: -60px -->
            <!-- 3 alternativ från David att studera närmare: http://jsfiddle.net/WX58z/8/  och http://jsfiddle.net/eB39A/76/  samt http://jsfiddle.net/cz7wt915/ -->
          </div>
          <!-- <div class="col-2"> -->
          <div class="col-2 form-inline">
            <label for="EndBar" class="col-form-label"
              >End Bar:&nbsp;&nbsp;</label
            >
            <input
              id="EndBar"
              type="text"
              class="form-control"
              style="width: 60px; height:30px; "
              v-model="dirtyRecording.endBar"
              :style="getBorderStyleCleanCompare(dirtyRecording.endBar, cleanRecording.endBar)"            

            />
          </div>
        </div>
      </div>
    </template>

    <template v-if="!isStudioRecording">
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col form-inline">
            <label for="songName">Song:&nbsp;&nbsp;</label>
            <cool-select
              v-model="dirtyRecording.song"
              :items="songList"
              item-text="name"
              placeholder="Song name could not be deduced from folder name. Please choose one."
              :input-styles="getBorderStyleCleanCompareById(dirtyRecording.song, cleanRecording.song)"
            />
             <!-- style="width:600px"
              -->
            <br /><br />
          </div>
        </div>
      </div>
    </template>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <MediaPlayer :file="mp3Url"></MediaPlayer>
          <br />
          <br />
        </div>
      </div>
      <div v-if="!isStudioRecording" class="row">
        <div class="col-sm">
          <template v-if="showCommentTextarea">
            <label for="Comment">
              <a href="#" 
                @click.prevent="toggleComment"
                :style="getCommentCleanCompare()"
              >Comment:</a>
            </label>
            <textarea
              v-model="dirtyRecording.comment"
              id="Comment"
              placeholder="Add comments here..."
              class="form-control"
              style="height:100px"
              :style="getBorderStyle(dirtyRecording.comment)"
            ></textarea>
          </template>
          <template v-else>
            <a href="#" @click.prevent="toggleComment" :style="getCommentCleanCompare()">Show comment</a>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MediaPlayer from "@/components/Misc/MediaPlayer.vue";
import { CoolSelect } from "vue-cool-select";
import props from "./props_RecordingDetails";
import methods from "./methods_RecordingDetails";
import computed from "./computed_RecordingDetails";

export default {
  components: {
    MediaPlayer,
    CoolSelect
  },
  data() {
    return {
      comment: String,
      showCommentTextarea: false,
      mediaPlayer: null,
      cleanRecording: null
      //selectedSong: null
    };
  },
  created() {
    const recordingId = this.dirtyRecording.id;
    this.$store.state.import.occasionListForm.clean.forEach(cleanOccasion => {
        if (cleanOccasion.id === this.occasionId){
          this.cleanRecording = cleanOccasion.recordingList.find(o => o.id === recordingId)} 
        });
  },
  props,
  methods,
  computed
};
</script>

<style scoped>
table action {
  width: auto;
  white-space: nowrap;
}

table {
  width: 100%;
}

td {
  white-space: nowrap;
  vertical-align: top;
}

.label {
  text-align: right;
  width: 1%;
}
span {
  color: gray;
}

.FileName {
  color: black;
  font-weight: bold;
}
</style>
